body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: #191919;
}

html {
  height: 100%;
}

.header {
  height: 50px;
  border-bottom: 1px solid #D6D8DB;
}

.title {
  color: #D6D8DB;
  line-height: 50px;
}

#top-bar {
  background-color: #191919;
  height: 50px;
  display: flex;
}

#center-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#options-bar {
  background-color: #191919;
  height: 100%;
  /* flex: 0.25; */
  margin: 0px 10px 0px 0px;
  min-width: 150px;
  resize: horizontal;
}

#user-img {
  background-color: #D6D8DB;
  width: 100%;
  height: 100px;
  margin: 5px 0px 0px 0px;

}

.section {
  background-color: #222222;
  width: 100%;
  height: 30px;
  margin: 5px 0px 0px 0px;
}

.snippetButtons {
  background-color: #222222;
}

#newSnippet {
  background-color: #222222;
  color:#D6D8DB;
  border: 0;
  font-size: 24px;
  cursor: pointer;
  top: 0;
  left: 0;
  margin:5px;
  transition: transform 0.3s ease;
}

#newSnippet:focus{
	outline: none;
}


#snippets-bar {
  background-color: #222222;
  height: 100%;
  flex: 0.25;
  min-width: 250px;
  overflow: auto;
  resize: horizontal;
  border-right: 1px solid #191919;
  padding-left: 20px;
  padding-right: 20px;
}

#snippets-holder {
  display: flex;
  flex-direction: column;
}

.snippet-box {
  border-bottom: 1px solid #191919;
  color: #D6D8DB;
  height: 35px;
  line-height: 35px;
  white-space: nowrap;
}

.snippet-box:hover {
  background-color: #191919;
  cursor: pointer;
}

#snippet-aside {
  height: 100%;
  resize: horizontal;
  flex: 1;
  background-color: #222222;
  padding-left: 20px;
  padding-right: 20px;
  color: #D6D8DB;
}

#snippet-code {
  background: #222222;
}